<div class="dt-pickers__time dt-pickers__time--hour {{if disabled 'dt-pickers__time--disabled'}}" {{action 'toggleHours' bubbles=false}}>
  {{currentHour}}
  {{#if (and (not disabled) showHours)}}
    {{hour-picker
        time=time
        onchange=(action "onchange")
    }}
  {{/if}}
</div>
<div class="dt-pickers__time dt-pickers__time--minutes {{if disabled 'dt-pickers__time--disabled'}}" {{action 'toggleMinutes' bubbles=false}}>
  {{currentMinute}}
  {{#if (and (not disabled) showMinutes)}}
    {{minute-picker
        time=time
        onchange=(action "onchange")
    }}
  {{/if}}
</div>
{{#if isAmPm}}
  <div class="dt-pickers__time dt-pickers__time--meridiem">
    {{meridiem}}
  </div>
{{/if}}