<div class="row">

    <div class="col-xs-12">
        <h2>DateTimePickers</h2>
    </div>

    <div class="col-sm-4">
        <div class="box">
            {{all-pickers-block
                date=model.newYorkDate
                locale="en-US"
                timeZone="America/New_York"
                onchange=(action (mut model.newYourkDate))
                disabledDates=disabledDates
            }}
        </div>
    </div>

    <div class="col-sm-4">
        <div class="box">
            {{all-pickers-block
                date=model.berlinDate
                locale="de"
                timeZone="Europe/Berlin"
                onchange=(action (mut model.berlinDate))
            }}
        </div>
    </div>

    <div class="col-sm-4">
        <div class="box">
            {{all-pickers-block
                date=model.moscowDate
                locale="ru"
                timeZone="Europe/Moscow"
                onchange=(action (mut model.moscowDate))
            }}
        </div>
    </div>

    <div class="col-sm-4">
        <div class="box">
            {{all-pickers-block
                date=newDate
                locale="en-US"
                timeZone="America/New_York"
                onchange=(action (mut newDate))
                disabledDates=disabledDates
            }}
        </div>
    </div>

</div>

<div class="row">

  <div class="col-sm-12" style="margin-bottom: 30px">
    <div class="box">
      {{time-picker time="23:30" locale="en-US"}}
    </div>
  </div>


  <div class="col-sm-6" >
    <div class="box">
      {{date-picker
        date=newDate
        locale="en-US"
        timeZone="America/Chicago"
      }}
      <div>{{newDate}}</div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-sm-4">
    <div class="box">
      {{datetime-picker
          date=newDate
          locale="en-US"
          timeZone="America/New_York"
          locale='en-US'
      }}
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-4">
    <div class="box">
      {{date-period-picker
          dateFrom=dateFrom
          dateTo=dateTo
      }}
    </div>
  </div>
</div>
