<div class="row">

    <div class="col-xs-12">
        <h2>DateTimePickers</h2>
    </div>

    <div class="col-sm-4">
        <div class="box">
            <p>Locale: en-US - America/NewYork</p>
            <p>Choosed date <strong>{{moment-format model.newYorkDate 'LLL'}}</strong></p>

            <br/>

            <div class="row">
                <div class="col-xs-6">
                  {{date-picker
                      date=model.newYorkDate
                      timeZone="America/New_York"
                      locale="en-US"
                      onchange=(action (mut model.newYorkDate))
                  }}
                </div>
                <div class="col-xs-6">
                  {{time-picker
                      date=model.newYorkDate
                      timeZone="America/New_York"
                      locale="en-US"
                      onchange=(action (mut model.newYorkDate))
                  }}
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-xs-12">
                  {{datetime-picker
                      date=model.newYorkDate
                      timeZone="America/New_York"
                      locale="en-US"
                      onchange=(action (mut model.newYorkDate))
                  }}
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="box">
            <p>Locale: de - Europe/Berlin</p>
            <p>Choosed date <strong>{{moment-format model.berlinDate 'LLL'}}</strong></p>

            {{datetime-picker
                date=model.berlinDate
                timeZone="America/New_York"
                locale="de"
                onchange=(action (mut model.berlinDate))
            }}
        </div>
    </div>

    <div class="col-sm-4">
        <div class="box">
            <p>Locale: ru - Europe/Moscow</p>
            <p>Choosed date <strong>{{moment-format model.moscowDate 'LLL'}}</strong></p>

            {{datetime-picker
                date=model.moscowDate
                locale="ru"
                timeZone="Europe/Moscow"
                onchange=(action (mut model.moscowDate))
            }}
        </div>
    </div>

</div>

