<div class="dt-control__calendar-header">
    <span {{action 'previousMonth'}}>&lt;</span> {{_year}} / {{monthLabel}} <span {{action 'nextMonth'}}>&gt;</span>
</div>
<div class="dt-control__calendar-weekdays">
  {{#each _weekDays as |weekDay|}}
      <span class="dt-control__weekday">{{weekDay}}</span>
  {{/each}}
</div>
<div class="dt-control__calendar-dates">
  {{#each weeks as |week|}}
      <div class="dt-control__week">
        {{#each week.dates as |date|}}
            <span class="dt-control__date {{if date.disabled 'disabled'}} {{if (eq _selectedDate date) 'selected'}} {{if date.current 'current'}}" {{action 'setDate' date}}>{{date.index}}</span>
        {{/each}}
      </div>
  {{/each}}
</div>