 <div class="dt-calendar__header">
    <div class="icon-previous dt-calendar__prev-month" {{action 'previousMonth'
                                                                     bubbles=false}}></div>
    <div class="dt-calendar__year">{{monthLabel}} {{_year}}</div>
    <div class="icon-next dt-calendar__next-month" {{action 'nextMonth' bubbles=false}}></div>
</div>

<div class="dt-calendar__weekdays">
  {{#each _weekDays as |weekDay|}}
    <div class="dt-calendar__weekday {{if weekDay.weekend 'dt-calendar__weekday--weekend'}}">{{weekDay.weekDay}}</div>
  {{/each}}
</div>

<div class="dt-calendar__dates">
  {{#each weeks as |week|}}
      <div class="dt-calendar__week">
        {{#each week.dates as |date|}}
            <div class="dt-calendar__date
                {{if (not date.index) 'dt-calendar__date--empty'}}
                {{if date.weekend 'dt-calendar__date--weekday'}}
                {{if date.disabled 'dt-calendar__date--disabled'}}
                {{if (eq _selectedDate date) 'dt-calendar__date--selected'}}
                {{if date.current 'dt-calendar__date--current'}}"
                {{action 'setDate' date bubbles=false}}>
            {{date.index}}
            </div>
        {{/each}}
      </div>
  {{/each}}
</div>