{{#if dateEnabled}}
    <div class="dt-control__input dt-control__input-calendar" {{action 'showCalendar' bubbles=false}}>
      {{formattedDate}}
    </div>
    {{#if isShowCalendar}}
      {{private/calendar-control
          date=date
          minDate=minDate
          maxDate=maxDate
          disabledDates=disabledDates
          timeZone=timeZone
          locale=locale
          onDateUpdated=(action 'updateDate')
          onDateChange=onDateChange
      }}
    {{/if}}
{{/if}}
{{#if timeEnabled}}
    <div class="dt-control__input dt-control__input-timepicker" {{action 'showHourPicker' bubbles=false}}>
        <div class="dt-control__current-time">
          {{currentHours}} &nbsp;<span class="icon-dropdown icon"></span>
          {{#if isShowHourPicker}}
            {{private/hour-picker
                timeZone=timeZone
                locale=locale
                date=date
                minDate=minDate
                maxDate=maxDate
                minTime=minTime
                maxTime=maxTime
                hide=(action 'hideHourPicker')
                onTimeChange=onTimeChange
            }}
          {{/if}}
        </div>
    </div>
    <div class="dt-control__input dt-control__input-timepicker" {{action 'showMinutePicker' bubbles=false}}>
        <div class="dt-control__current-time">
          {{currentMinute}} &nbsp;<span class="icon-dropdown icon"></span>
          {{#if isShowMinutePicker}}
            {{private/minute-picker
                timeZone=timeZone
                locale=locale
                date=date
                minDate=minDate
                maxDate=maxDate
                minTime=minTime
                maxTime=maxTime
                hide=(action 'hideMinutePicker')
                onTimeChange=onTimeChange
            }}
          {{/if}}
        </div>
    </div>
    {{#if isAmPm}}
        <div class="dt-control__input dt-control__input-timepicker dt-control__meridiem">
          {{meridiem}}
        </div>
    {{/if}}
{{/if}}
